﻿
@{
    ViewBag.Title = "Index1";
}
<script src="~/Scripts/jquery-3.2.1.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.js"></script>
<script src="~/Scripts/jquery.cookie.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script src="~/Scripts/Home/Index1.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />
<script src="~/Scripts/modernizr-2.8.3.js"></script>
<link href="~/Scripts/dropzone/dropzone.css" rel="stylesheet" />
<script src="~/Scripts/dropzone/dropzone.js"></script>
<h2>Chat</h2>
<script>
    Dropzone.autoDiscover = false;

     $(document).on("submit", "form#form1", function (event) {
        event.preventDefault();
        $.ajax({
            url: '/api/messaging/',
            type: "POST",
            dataType: "JSON",
            data: new FormData(this),
            processData: false,
            contentType: false,
            success: function (data) {
               // alert(data);
                getData();
            },
            error: function (xhr, desc, err) {
                alert(err);
            }
        });
     });


     $(document).on("submit", "form#form2", function (event) {
         event.preventDefault();
         $.ajax({
             url: '/api/messaging/'+selected,
             type: "PUT",
             dataType: "JSON",
             data: new FormData(this),
             processData: false,
             contentType: false,
             success: function (data) {
                 alert(data);
                 getData();
             },
             error: function (xhr, desc, err) {
                 alert(err);
             }
         });
     });
</script>

<div id="LoginDisplay" align="center" class="display">
    <h4>Авторизация</h4>
    <form id="LoginForm">
        <p><label>Логин: </label><input id="Login" name="Login"/>
        </p>
        <p><label>Пароль: </label><input id="Password" autocomplete="off" type="password" name="Password"/>
        </p>
    </form>
    <button id="login" class="btn btn-default" type="submit">Войти</button>
</div>


<div class="display" id="summaryDisplay">
    <div id="userInfo" class="block">
        <label>Пользователь: </label>
        <b><label id="username"></label></b>
        <div class="btn-group">
            <button id="Logout" class="btn btn-default">Выйти</button>
        </div>
    </div>
    <table id="chatTable" class="table table-hover scrollTable">
        <thead class="fixedHeader">
            <tr>
                <th>Id</th>
                <th>Автор</th>
                <th>Сообщение</th>
                <th>Файл</th>
                <th>Дата</th>
            </tr>
        </thead>

        <tbody class="tableBody scrollContent" id="tableBody"></tbody>

    </table>

    <div class="btn-group">
        <div id="buttonContainer" class="btn-group">
            <button class="btn btn-primary" id="refresh">Обновить</button>
            <button class="btn btn-primary" id="add">Добавить</button>
            <button class="btn btn-primary" id="edit">Редактировать</button>
            <button class="btn btn-primary" id="delete">Удалить</button>
        </div>
    </div>

    <div class="panel panel-info " id="createPanel">
        <div class="panel-heading">
            <h4>Новое сообщение:</h4>
        </div>
        <div class="panel-body">
            <form name="form1" id="form1">
                <fieldset>
                    <div class="form-group">
                        <p>
                            <label for="Text" class="control-label">Текст сообщения</label>
                        </p>
                        <textarea id="Text" name="Text" cols="40" rows="5"></textarea>
                    </div>
                    <div>
                        <div class="form-group">
                            <label for="image1" class="control-label">Прикрепляемый файл</label>
                            <input type="file" name="file" class="dropzone btn" id="image1"/>
                        </div>
                    </div>
                </fieldset>
                <input id="btnSubmit" class="btn btn-default " type="submit" value="Отправить"/>
            </form>
        </div>
    </div>


    <div class="panel panel-info hidden" id="editPanel">
        <div class="panel-heading">
            <h4>Редактировать:</h4>
        </div>
        <div class="panel-body">
            <form name="form2" id="form2">
                <fieldset>
                    <div class="form-group">
                        <input id="IdBox" type="hidden" />
                        <p>
                            <label for="Text1" class="control-label">Текст сообщения</label>
                        </p>
                        <textarea id="Text1" name="Text" cols="40" rows="5"></textarea>
                    </div>
                    <div>
                        <div class="form-group">
                            <label for="image2" class="control-label">Прикрепляемый файл</label>
                            <input type="file" name="file" class="dropzone btn" id="image2" />
                        </div>
                    </div>
                </fieldset>
                <input id="btnEdit" class="btn btn-default " type="submit" value="Обновить" />
            </form>
        </div>
    </div>


</div>
