﻿<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <script src="~/Scripts/jquery-3.2.1.js"></script>
 
    <script src="~/Scripts/jquery.cookie.js"></script>
    <script src="~/Scripts/jquery.cookie-1.4.1.min.js"></script>

    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

     <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <script src="~/Scripts/jQuery.FileUpload/jquery.fileupload.js"></script>

    <link rel="stylesheet" href="~/content/Site.css">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <script src="~/Scripts/home/Messaging.js"></script>
    <script>
            $(document).ready(function() {
                $('#btnSubmit').click(function() {
                   /* if ($('#uploadfile').val() === '') {
                        alert('Please select file');
                        return;
                    }*/
                    var formData = new FormData(document.forms.form1);
                    var file = $('#uploadfile')[0];
                    if ($('#uploadfile').val() !== null) {
                        formData.append('file', file.files[0]);
                    }
                    $.ajax({
                        url: 'http://localhost:1263/api/messaging',
                        type: 'POST',
                        data: formData,
                        contentType: false,
                        processData: false,
                        progressall: function (e, data) {
                            var progress = parseInt(data.loaded / data.total * 100, 10);
                            $('#progress .uk-progress-bar').css(
                                    'width',
                                    progress + '%'
                            );
                            $('#progress .uk-progress-bar').text(progress + '%');
                        },
                        success: function(d) {
                            $("#form1").clear();
                            getData();
                        },
                        error: function() {
                            alert("Faild please try upload again");
                        }
                    });
                });


            });

            $('#fileupload').fileupload({
                dropZone: $('#dropzone')
            });
    </script>
</head>

<body class="Windows">

    <div id="LoginDisplay" align="center" class="display">
        <h4>Авторизация</h4>
        <form id="LoginForm">
            <p><label>Логин: </label><input id="Login" name="Login" /></p>
            <p><label>Пароль: </label><input id="Password" name="Password" /></p>
        </form>
        <button id="login" class="btn btn-default" type="submit">Войти</button>
    </div>

    
        <div class="display" id="summaryDisplay">
            <div id="userInfo" class="block">
                <label>Пользователь: </label>
                <b><label id="username"></label></b>
                <div class="btn-group">
                    <button id="Logout" class="btn btn-default">Выйти</button>
                </div>
            </div>
            <table id="chatTable" class="table table-hover scrollTable">
                <thead class="fixedHeader">
                    <tr>
                        <th>Id</th>
                        <th>Автор</th>
                        <th>Сообщение</th>
                        <th>Файл</th>
                        <th>Дата</th>
                    </tr>
                </thead>
             
                <tbody class="tableBody scrollContent" id="tableBody"></tbody>
           
            </table>

            <div class="btn-group" >
                <div id="buttonContainer" class="btn-group" >
                    <button class="btn btn-primary" id="refresh">Обновить</button>
                    <button class="btn btn-primary" id="add">Добавить</button>
                    <button class="btn btn-primary" id="edit">Редактировать</button>
                    <button class="btn btn-primary" id="delete">Удалить</button>
                </div>
            </div>



            <div class="panel panel-info">
                <div class="panel-heading">
                    Новое сообщение
                </div>
                <div class="panel-body">
                    <form id="form1" name="form1">
                        <div class="form-group">
                            <input type="file" id="uploadfile" class="btn btn-default" />
                            <p>
                                <label>Сообщение:</label>
                                @*<input  id="IdBox" name="Text" type="hidden" value="" />*@

                                <input class="text-box multiline" id="Text" name="Text" type="text" value="" />
                            </p>

                        </div>
                        <input id="btnSubmit" class="btn btn-default" type="button" value="Отправить" />
                    </form>
                    <div class="text-info" id="status"></div>
                </div>
            </div>

            <div id="dropzone" class="fade well">Drop files here</div>

        </div>

</body>
</html>