﻿<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <script src="~/Scripts/jquery-3.2.1.js"></script>
    <script src="~/Scripts/jquery.cookie.js"></script>
    <script src="~/Scripts/home/Messaging.js"></script>

    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet"/>


    <link rel="stylesheet" href="~/content/Site.css">

</head>

<body>
    https://habrahabr.ru/post/125424/

    <div id="LoginDisplay" class="display">
        <h4>Авторизация</h4>
        <form id="LoginForm">
            <p><label>Логин:</label><input id="Login" name="Login" /></p>
            <p><label>Пароль:</label><input id="Password" name="Password" /></p>
        </form>
        <button id="login" class="btn btn-default" type="submit">Войти</button>
        <button id="RegisterView" class="btn btn-default">Регистрация</button>

    </div>



    <div class=summaryDisplay id=table>
        <div id="userInfo" class="block">
            <label>Пользователь: </label>
            <b><label id="username"></label></b>
            <div class="btn-group">
                <button id="Logout" class="btn btn-default">Выйти</button>
            </div>
        </div>
        <table id="chatTable" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Автор</td>
                    <td>Сообщение</td>
                    <td>Файл</td>
                    <td>Дата</td>
                </tr>
            </thead>
            <tbody class="tableBody" id="tableBody"></tbody>
        </table>

        <div class="btn-group">
            <div id="buttonContainer" class="btn-group">
                <button class="btn btn-primary" id="refresh">Обновить</button>
                <button class="btn btn-primary" id="add">Добавить</button>
                <button class="btn btn-primary" id="edit">Редактировать</button>
                <button class="btn btn-primary" id="delete">Удалить</button>
            </div>
        </div>
    </div>

    <script>


    </script>
    <!--<form action="/" data-ajax="true" data-ajax-success="getData" data-ajax-url="http://localhost:1263/api/Messaging/" id="form0" method="post">-->
    <form enctype="multipart/form-data" id="fileUploadForm">
        <input id="MessageId" name="Id" type="hidden" value="0" />
        <input id="User" name="Author" type="hidden" />
        <input type="file" name="FilePath" id="FilePath">
        <p><label>Сообщение:</label><input class="text-box multiline" id="Text" name="Text" type="text" value="" /></p>
        <button type="submit" class="btn btn-default" id="btnSubmit">Отправить</button>
    </form>




</body>
</html>